sources/pdfs/
workspace/data
workspace/checkpoints
wrorkspace/__pycache__/
__pycache__/
workspace/checkpoints
workspace/.ipynb_checkpoints
workspace/czech_data.ipynb
workspace/stylometry.ipynb
workspace/processed_data
workspace/troll_analysis_results.csv
workspace/predict_results_old
workspace/extracted_comments
workspace/notebooks/correlation_tweet_1.png
workspace/notebooks/correlation_tweet_2.png
workspace/notebooks/correlation_tweet_3.png
workspace/notebooks/correlation_tweet_4.png
workspace/notebooks/correlation_tweet_5.png
workspace/notebooks/importance_tweet_1.png
workspace/notebooks/importance_tweet_2.png
workspace/notebooks/importance_tweet_3.png
workspace/notebooks/importance_tweet_4.png
workspace/notebooks/importance_tweet_5.png
workspace/output/high_confidence_predictions.csv
workspace/output/medium_confidence_predictions.csv
